/* Mobile */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #e81c2e;
      --primaryShade: #ffd675;
      --primaryDark: #805d0d;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      --headerColor: #1a1a1a;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    body,
    html {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Roboto', Arial, sans-serif;
      color: var(--bodyTextColor);
      overflow-x: hidden;
        scroll-behavior: smooth;
    }
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      transition: background-color 0.3s;
      min-height: 100vh;
      min-width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: #fffafa;
    }
    .container {
      position: relative;
      width: 92%;
      margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      color: var(--headerColor);
    }
    p,
    li,
    a {
      font-size: 1.125rem;
      line-height: 1.5em;
      margin: 0;
    }
    p,
    li {
      color: #575757;
    }
    a:hover,
    button:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 2rem;
        background-color: #e81c2e;
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
      }
      .cs-button-solid:hover {
        color: var(--bodyTextColorWhite);
      }
      .cs-button-solid:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.5rem;
        transition: width .3s;
      }
      .cs-button-solid:hover:before {
        width: 100%;
      }
    .skip {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1111111;
    }
  }
  /* Reset Margins */
  @media only screen and (min-width: 1024px) {
    body,
    html {
      padding: 0;
      margin: 0;
    }
  }
  /* Scale full website with the viewport width */
  @media only screen and (min-width: 2000px) {
    body,
    html {
      font-size: .85vw;
    }
  }

/*-- -------------------------- -->
  <---         Navigation         -->
  <--- -------------------------- -*/
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: none;
  }
  
  .nav-container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    position: absolute;
    width: 100%;
    background: #202c45;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 15%);
    box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 15%);
    z-index: 1000;
    padding-top: 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  
  .menu-items {
    order: 2;
    display: flex;
  }
  .logo {
    display: none;
  }
  .menu-items li,
  button {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar button {
    padding: 8px 19px;
    margin-right: 20px;
    background-color: #e81c2e;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0s;
    border-radius: 0.5rem;
  }
  
  .navbar button:hover a {
    color: #0088a9;
  }
  
  .navbar button:hover {
    background: #fff;
    color: #0088a9;
  }
  
  .navbar a:hover {
    color: #0088a9;
  }
  
  @media (max-width: 768px) {
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 34px;
    }
    .logo {
      margin: 0;
      position: relative;
      bottom: 15px;
      width: fit-content;
      overflow: hidden;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      right: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 28px;
      width: 35px;
      position: absolute;
      right: 10px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #fff;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #202c45;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 40px;
      transition: transform 0.5s ease-in-out;
      overflow: scroll;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.8rem;
      font-size: 1rem;
      font-weight: 500;
    }
  
    .navbar button {
      width: fit-content;
      margin: 0;
      position: relative;
      right: 5px;
    }
  
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  }
  
  @media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
      display: none;
    }
  }
  
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    #footer {
      background: #1C1C1C;
      padding: 7.25rem 0 1.25rem;
      font-size: min(4vw, 1.2em);
      clip-path: polygon(100% 13%, 100% 33%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 0 0);
    }
    #footer .right-section {
      width: 96%;
      max-width: 25.4375rem;
      margin: auto;
    }
    #footer .right-section .lists {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 96%;
      max-width: 19.1875rem;
      margin: auto;
    }
    #footer .right-section .lists ul {
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
    }
    #footer .right-section .lists ul:nth-of-type(3) {
      margin-top: 3.125rem;
    }
    #footer .right-section .lists ul:nth-of-type(3) li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
    }
    #footer .right-section .lists ul:nth-of-type(3) li:last-of-type {
      margin-bottom: 0;
    }
    #footer .right-section .lists ul li {
      list-style: none;
      margin-bottom: 0.75rem;
      color: #fff;
      font-size: 1.125rem;
      opacity: .9;
    }
    #footer .right-section .lists ul li a {
      text-decoration: none;
      color: #fff;
      line-height: 1.16666667em;
      transition: color .3s;
    }
    #footer .right-section .lists ul li a:hover {
      color: var(--primary);
    }
    #footer .right-section .lists ul h2 {
      color: #fff;
      font-size: 1.125rem;
      line-height: 1.16666667em;
      margin-bottom: 2.3125rem;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
    }
    #footer .right-section .lists ul h2:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.125rem;
      width: 6.0625rem;
      background: var(--primary);
      opacity: 1;
      bottom: -1rem;
      left: 0;
    }
    #footer .right-section .buttons {
      display: flex;
      justify-content: center;
    }
    #footer .right-section .button-solid {
      margin: 0;
      height: 3.3125rem;
      padding-top: 0.1875rem;
      width: 15.625rem;
    }
    #footer .credit {
      color: #fff;
      width: 96%;
      margin: auto;
      text-align: center;
      margin-top: 6.25rem;
      line-height: 2.25rem;
      font-size: 1rem;
    }
    #footer .credit a {
      color: var(--primary);
      text-decoration: none;
      font-size: 1rem;
    }
    #footer .credit a:hover {
      text-decoration: underline;
    }
    #footer .credit .copyright {
      display: block;
      font-size: 1rem;
    }
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99; 
      border: none; 
      outline: none;
      background-color: var(--primary); 
      color: white;
      cursor: pointer; 
      padding: 15px; 
      border-radius: 0.5rem;
      font-size: 18px;
    }
    
    #myBtn:hover {
      background-color: #ffffff;
      transition: background-color 0.3s ease-in-out;
      color: black;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #footer {
      font-size: min(1.2vw, 1em);
      clip-path: polygon(100% 13%, 100% 33%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 0 0);
    }
    #footer .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 96%;
      max-width: 82.5rem;
      margin: auto;
      padding: 0;
    }
    #footer .left-section {
      width: 25.5625rem;
      margin: 0;
      text-align: left;
      padding-top: 2em;
    }
    #footer .left-section .logo {
      text-align: left;
      margin-left: 0;
      height: 4.375rem;
    }
    #footer .left-section p {
      text-align: left;
      margin-left: 0;
    }
    #footer .right-section {
      margin: 0;
      width: 38.0625rem;
      max-width: none;
    }
    #footer .right-section .lists {
      width: 96%;
      max-width: 48.0625rem;
      margin: 0;
      max-width: initial;
    }
    #footer .right-section .lists ul:nth-of-type(3) {
      margin-top: 0;
    }
    #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
      margin-bottom: 0;
    }
    #footer .right-section .lists ul li a {
      position: relative;
    }
    #footer .right-section .lists ul li a:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.125rem;
      width: 0%;
      background: var(--primary);
      opacity: 1;
      bottom: -0.1875rem;
      left: 0;
      transition: width .3s;
    }
    #footer .right-section .lists ul li a:hover:before {
      width: 100%;
    }
    #footer .right-section .buttons {
      justify-content: flex-start;
    }
    #footer .credit .copyright {
      display: inline-block;
    }
  }
